*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --clr-primary-one: hsl(225, 100%, 94%)
    --clr-primary-two: hsl(245, 75%, 52%);

    --clr-neutral-dark: hsl(225, 100%, 98%)
    --clr-neutral: hsl(224, 23%, 55%);
    --clr-neutral-light: hsl(223, 47%, 23%);

    --fw-normal: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    font-size: 1rem;
}